// bower:scss
// endbower

/* Helpers */

$red: #DA291C;
$white: #fff;
$blueGrey: #B5C9D3;
$grey: #424B54;
$blue: #48A9C5;

@font-face{
  font-family: 'Gotham';
  src: url('fonts/Gotham-Book.otf');
}

@mixin gradient($color1, $color2){
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(top,  $color1 0%, $color2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $color1 0%,$color2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $color1 0%,$color2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
}


.visuallyHidden {
  height: 1px;
  width: 1px;
  line-height: 2em;
  margin: -1px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.submenuShow {
  height: auto;
  width: auto;
  margin: auto;
  padding: 10px 0px 0px 0px;
  line-height: inherit;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  white-space: nowrap;
  visibility: visible;
}

.fleft{
  float: left;
}

.fright{
  float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Main */

body, html {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0px;
  padding: 0px;
}

::selection {
  background: $blue; /* WebKit/Blink Browsers */
  color: $white;
}
::-moz-selection {
  background: $blue; /* Gecko Browsers */
  color: $white;
}

h1, h2, h3, h4{
  font-family: "Gotham";
  font-weight: bold;
}

h1{
  margin: 0px;
  padding: 27px 0px 0px 40px;
  float: left;
  font-weight: bold;
  color: $white;
  font-size: 26pt;
}

h2{ font-size: 18pt; }
h3{ font-size: 14pt; }
h4{ font-size: 12pt; }

a{ 
  color: $blue;
  &:hover, &:focus, &:active{ 
    color: #3D93AC;
  }
}

#content{
  margin-left: 50px;
}

/* Navigation */

header{
  font-family: 'Gotham';
  @include gradient($red, #B81104);
  height: 100px;
}

nav#headerNav{
  a{
    font-weight: normal;
    text-decoration: none;
  }
  i{
    font-size: 14pt;
  }
  #mainMenu, #secondaryMenu, #mobileMenu{
    position: relative;
    margin: 65px 0px 0px 0px;
    > li{
      display: inline-block;
      margin-right: 0px;
      padding-right: 8px;
      padding-left: 3px;
      border-right: 1px solid $white;
      &:last-child{
        border-right: none;
      }
      a{
        color: $white;
      }
    }
    li{
      list-style-type: none;
      &:hover > a, &:focus >a, &:active >a{
        color: #ccc;
      }
      &.dropdown{
        ul.submenu-1, ul.submenu-2, ul.submenu-3{
          z-index: 999;
          a{
            font-size: 10pt;
            color: #000;
            &:hover, &:focus, &:active{
              color: $white;
            }
          }        
          li{
            width: 100%;         
            position: relative;
            background: $blueGrey;
            padding: 2px 0px 2px 0px;
            &:first-child{
              padding-top: 8px;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }
            &:last-child{
              padding-bottom: 8px;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
            }
            &:hover > a, &:focus > a, &:active > a{
              color: $white;
            }        
          }
        }
      }
    }
    ul.submenu-1{
      @extend .visuallyHidden;
      li.dropdown{
        ul.submenu-2{
          @extend .visuallyHidden;
          position: absolute;
        }
      }
      &:before{
        border: solid;
        border-color: $blueGrey transparent;
        border-width: 0px 8px 8px 8px;
        top: 2px;
        content: "";
        left: 10%;
        position: absolute;
        z-index: 99;
      }
    }
  }
  #mainMenu, #secondaryMenu{
    li{
      &.dropdown{
        &:hover ul.submenu-1, &:focus ul.submenu-1, &:active ul.submenu-1,
        > a:hover + ul.submenu-1, > a:focus + ul.submenu-1, > a:active + ul.submenu-1{
          @extend .submenuShow;
        }
      }
    }
    ul.submenu-1{
      &.active{
        @extend .submenuShow;
      }
      li.dropdown{
        > a{
          &:hover + ul.submenu-2, &:focus + ul.submenu-2, &:active + ul.submenu-2,
          &:hover + ul.submenu-2, &:focus + ul.submenu-2, &:active + ul.submenu-2{
            @extend .submenuShow;
          }
        }
        ul.submenu-2{
          left: 100.5%;
          top: -10px;
          &.active{
            @extend .submenuShow;
          }
        }
        &:hover ul.submenu-2, &:focus ul.submenu-2, &:active ul.submenu-2{
          @extend .submenuShow;
        }
      }
    }
  }
  #mainNav{
    @extend .fleft;
    #mainMenu{
      .submenu-1, .submenu-2{
        li a{
          margin: 0px 10px 0px 10px;
        }
      }
      .submenu-1 li.dropdown > a:after{
        content: "\f054";
        font-family: "FontAwesome";
        float: right;
        margin: .5em 10px 0px 8px;
        font-size: 9pt;
      }
    }
  }
  #secondaryNav{
    @extend .fright;
    #secondaryMenu{
      .submenu-1{
        right: 2px;
        li > a{
          text-align: right;
          float: right;
          margin: 0px 10px 0px 10px;
        }
        li.dropdown{
          ul.submenu-2{
            left: auto;
            right: 100.5%;
          }
          & > a{
            width: 100%;
            margin-left: 30px;
          }
          & > a:before{
            content: "\f053";
            float: left;
            margin: .25em 0px 0px 20px;
            font-family: "FontAwesome";
            font-size: 9pt;
          }
        }
        li:after{
          @extend .group:after;
        }
        &:before{
          right: 5%;
          left: auto !important;
        }
      }
    }
  }
  #mobileNav{
    @extend .fright;
    display: none;
    #mobileMenu{
      right: 2px;
      .submenu-1, .submenu-2, .submenu-3{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 2px;
        &:before{
          border: solid;
          border-color: $blueGrey transparent;
          border-width: 0px 8px 8px 8px;
          top: 2px;
          content: "";
          left: auto !important;
          position: absolute;
          z-index: 99;
          right: 6px;
        }
        li a{
          margin: 0px 30px 0px 10px;
        }
        .prevLevel{
          a:before{
            content: "\f053";
            font-family: "FontAwesome";
            font-size: 9pt;
            margin-right: 10px;
          }
        }
        .mobileSecondary{
          border-top: 1px solid #888;
        }
      }
      .submenu-2, .submenu-3{
        right: 0px;
        li:first-child{
          background-color: #CBDCE4;
          padding-bottom: 5px;
        }
        &:before{
          border-color: #CBDCE4 transparent;
        }
      }
      .submenu-1{
        li:nth-child(5){
          padding-bottom: 3px;
        }
        li.dropdown > a:after, .submenu-2 li.dropdown > a:after{
          content: "\f054";
          font-family: "FontAwesome";
          float: right;
          margin: .5em 10px 0px 8px;
          font-size: 9pt;
        }
      }
    }
  }
}

#content{
  background: $white;
}

#dash{
  text-align: center;
}
.dashItem{
  display: inline-block;
  width: 45%;
  height: 350px;
  padding: 15px;
  margin: 15px;
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #f8f8f8 !important;
}
.dashBottom{
  padding: 15px;
  margin: 15px 15px 50px 15px;
  display: inline-block;
  clear: both;
  width: 94%;
  height: 500px;
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#map{
  height: 100%;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

footer{
  @include gradient(#333B49, $grey);
  padding: 20px;
  color: $white;
  #logoContainer{
    @extend .fleft;
    font-family: "Gotham";
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    padding-right: 50px;
  }
  #logoContainer img{
    width: 100px;
  }
  #legalese{
    font-size: 9pt;
  }
  #footerNav{
    text-align: center;
    ul li{
      display: inline-block;
      list-style-type: none;
      border-right: 1px solid $white;
      padding-right: 5px;
      &:last-child{
        border-right: none;
      }
      a{
        font-family: "Gotham";
        color: $white;
        font-weight: bold;
        text-decoration: none;
        &:hover, &:focus, &:active{
          color: $red;
        }
      }
    }
  }
}

/* Media Queries */

@media (max-width: 1000px){
  #mainNav, #secondaryNav{
    display: none;
  }
  nav#headerNav #mobileNav, nav#headerNav #mobileMenu{
    display: block;
  }
}
@media (max-width: 1391px){
  .dashItem{
    width: 40%;
  }
  .dashBottom{
    width: 85%;
  }
}
@media (max-width: 1055px){
  .dashItem{
    width: 85%;
  }
  .dashBottom{
    width: 85%;
  }
}